AWS_REGION=us-east-1
DYNAMODB_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

DYNAMODB_VMS_TABLE=vms
DYNAMODB_USERS_TABLE=users

JWT_EXPIRES_IN=30m
JWT_SECRET=replace-with-a-local-secret
JWT_REFRESH_SECRET=replace-with-another-local-secret
