.vm-ifx-title{
    font-size: 24px;
    font-weight: 600;
    color: var(--text);
}

.vm-ifx-subtitle{
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
}

.vm-ifx-p, .vm-ifx-span{
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
}

.vm-ifx-small{
    font-size: 12px;
    font-weight: 400;
    color: var(--text);
}

.text-danger{
    color: var(--danger);
}

.header-section-with-action{
    
}